.contact-box {
	margin: 30px;
    background-color: green;
    border: 1px solid black;
}

.contact-box-border {
  border-right: 1px solid green;
}

.square {
  border: solid 21px #f0f;
  width: 50px;
  height: 50px;
}

.test {
  color: green;
}

@media screen and (max-width: 768px) {
  .contact-box-border {
    border-right: 1px solid transparent;
  }

  .photo-text-background-homepage {
    width: auto !important;
  }

  .contact-padding {
    padding-bottom: 0 !important;
  }
}
