/* COLORS 
#cae4d8 MORNING SKY (rgb(202,228,216))
#dcae1d HONEY (rgb)
#00303F CERULEAN (dark blue)
#7a9d96 MIST
*/

/* horizontal timeline code from https://codyhouse.co/gem/horizontal-timeline/ */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Lora', serif;
	color: #00303F;
}

h1 {
	margin: 0;
	padding-top: 45px;
	text-align: center;
	font-size: 3.998em;
}

h2 {
	color: #00303F;
}

hr {
	text-align: center;
	width: 130px;
	border: none;
	border-radius: 2px;
	height: 2px;
	background-color: #7a9d96;
	margin-top: 30px;
	margin-bottom: 30px;
}

.grey-section {
	margin: 0;
	background-color: #eff5f5;
}

/* nav bar with links */

.nav {
	width: 100%;
	height: 120px;
	font-size: 20px;
	margin-bottom: 60px;
}

.nav-bar {
	border-bottom: 2px solid #cae4d8;
  width: 100%;
}

.nav-links {
	list-style: none;
	padding: 0;
	text-align: center;
}

.nav-links li {
	padding-top: 45px;
	margin-right: 40px;
	font-size: 18px;
	font-weight: 200;
	display: inline-block;
	border-top: 5px transparent solid;
	margin-bottom: 15px;
}

.nav-links li:hover {
	border-top: 5px #7a9d96 solid;
	/*border-radius: 2px;*/
}

.nav-links ul > li:last-child {
	margin-right: 0;
}

.name {
	margin: 0;
	padding-top: 45px;
	text-align: center;
	font-size: 1.414em;
}


/* main section of welcome page */

.title {
	margin-top: 50px;
	color: #00303F;
}

.subtitle {
	text-align: center;
	font-size: 25px;
	color: #7a9d96;
}

.subsubtitle {
	text-align: center;
	font-size: 1.414em;
	color: #293d3d;
	padding-right: 35px;
	padding-left: 35px;
	line-height: 30px;
	font-family: 'Source Sans Pro', sans-serif;
}


/* offers for coaching */ 

.offers-header {
	text-align: center;
}

.offers-header:before {
	content: '—';
	color: #dcae1d;
	font-size: 20px;
	font-weight: 300;
	margin-right: 10px;
}

.offers-header:after {
	content: '—';
	color: #dcae1d;
	font-size: 20px;
	font-weight: 300;
	margin-left: 10px;
}

.icons {
	font-size: 7em;
	text-align: center;
}


/* quote */ 

.quote {
	line-height: 50px;
}

.center {
	text-align: center;
}

.button {
	background-color: #eff5f5;
	border: 2px solid #7a9d96;
    color: #7a9d96;
    padding: 12px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 36px;
}

.button:hover {
    background-color: #7a9d96; /* Green */
    border: 2px solid white;
    color: white;
}



/* signature for footer */

.signature {
	display: inline-block;
	margin-right: 40px;
}


.signature:last-child {
	margin-right: 0;
}

@media (max-width: 500px) {
	.signature {
		display: block;
		margin-right: 0;
	}
}

.signature-item:after {
	content: "|";
	display: inline;
	margin-left: 40px; 
}

@media (max-width: 500px) {
	.signature-item:after {
		display: none;
	}
}

.links {
	color: #7a9d96;
}


/* CONTACT PAGE */

.photo-container {
	width: 100%;
	height: auto;
	position: relative;
	display: block;
}

.photo-section {
	width: 100%;
	height: auto;
	min-height: 550px;
    position: relative;
    z-index: 2;
   	background-size: cover;
    margin-top: -60px;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.aligner-item {
	/*max-width: 50%;*/
	flex: 1;
}

.transparent-background {
	background-color: rgba(255,255,255,0.4);
	width: 100%;
	height: auto;
	display: block;
	min-height: 550px;
	position: relative;
	/*padding-top: 35px;*/
    padding-bottom: 30px;
    margin-top: -35px;
    z-index: 2;
}

.container-fluid {
    width: 100%;
    height: auto;
    /*display: block;*/
    min-height: 500px;
    position: relative;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-top: -35px;
}

.photo-text-background {
	background-color: rgba(225,225,225,0.9);
	display: flex;
	lign-items: center;
  	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
}

.photo-text {
	z-index: 3;
    display: block;
    position: relative;
    font-weight: 400;
}

/* ABOUT ME PAGE */

.photo-container-about {
	height: 500px;
	width: 100%;
	position: relative;
	display: block;
}

.photo-section-about {
	width: 100%;
	height: 500px;
	min-height: 500px;
    position: relative;
    z-index: 2;
   	background-size: cover;
    margin-top: -60px;
}

.about-text-background {
	background-color: rgba(225,225,225, 1);
	padding-top: 40px;
	padding-bottom: 80px;
	padding-right: 20px;
	padding-left: 20px;
	width: 100%;
	height: auto;
	position: relative;
	left: 100px;
	z-index: 1;
	margin-top: 50px;
	box-shadow: 0 0 10px #888888;
}

.about-text {
	/*z-index: 3;*/
    display: block;
    position: relative;
    padding-left: 30px;
    padding-right: 110px;
}

.heavy {
	font-size: 2em;
}

.light {
	letter-spacing: 1.45px;
	font-size: 100%;
	line-height: 21px;
	font-weight: 300;
}

.about-transparent {
	background-color: rgba(255,255,255,0.1);
	border-top: 1px rgba(153, 153, 153, 0.17) solid;
}

.photo-text-background-about {
	background-color: rgba(225,225,225,0.3);
	border: white 3px solid;
	border-radius: 50%;
	display: flex;
	lign-items: center;
  	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin:auto;
	width: 350px;
	height: 350px;
}

.values-text {
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-size: 3.5em;
	color: white;
	line-height: 76px;
	letter-spacing: 4px
}

.values-title {
	text-align: center;
	font-size: 1.9em;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.values-description {
	font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 20px;
  line-height: 22px;
  border: 1px rgba(202,228,216, 0.6) solid;
}


/* timeline */


.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  /*background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));*/
  background-image: -webkit-linear-gradient( left , white, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, white, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  /*background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));*/
  background-image: -webkit-linear-gradient( right , white, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, white, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #7a9d96;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 20px;
  color: #7a9d96; /* #383838; */
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #7a9d96; /*#7b9d6f;*/
  border-color: #7a9d96; /*#7b9d6f;*/
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #7a9d96; /*#7b9d6f;*/
  border-color: #7a9d96; /*#7b9d6f;*/
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #7a9d96; /*#7b9d6f;*/
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }
  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
/* TBD ON WHETHER I WANT THIS OR NOT */
/*.cd-timeline-navigation a.inactive {
  cursor: not-allowed;
}*/
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin-top: 40px;
  margin-left: 40px;
  overflow: hidden;
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  transition: height 0.4s;
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  padding: 0 5%;
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 800px;
  margin: 0 auto;
}
/*.cd-horizontal-timeline .events-content h2 {
  font-weight: bold;
  font-size: 2.6rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
} */
.cd-horizontal-timeline .events-content em {
  display: block;
  font-style: italic;
  margin: 10px auto;
}
.cd-horizontal-timeline .events-content em::before {
  content: '- ';
}
/*.cd-horizontal-timeline .events-content p {
  font-size: 1.4rem;
  color: #959595;
}*/
.cd-horizontal-timeline .events-content em, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}

/* determines the size of the events descriptions */
@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 2.5rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 1.1rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* OFFRES COACHING */

.header {
	font-size: 2.2em;
    font-weight: 200;
    display: inline-block;
}

.text-offres-icon {
    font-weight: 100;
    font-size: 1.05em;
    display: inline;
    line-height: 28px;
}

.icon-offres {
	display: block;
	text-align: center;
	color: #cae4d8;
}

.fa {
	display:block;
}

.questions li {
	font-size: 1.1em;
	padding-top: 20px;
	line-height: 18px;
	font-weight: 100;
	margin-left: 18px;
}

.offres-title {
	font-size: 1.6em;
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.offres-hr {
	margin-bottom: 20px;
    margin-top: 0px;
    width: 40%;
    text-align: left;
    margin-left: 0;
    height: 1px;
    background-color: #dcae1d;
}

.text-offres {
    font-weight: 100;
    font-size: 1em;
    line-height: 28px;
}

.offres-description{
	padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 35px;
    line-height: 29px;
    border: 1px rgba(220,174,29, 0.6) solid;

}


.equipe-title-background {
	border: #cae4d8 3px solid;
	border-radius: 50%;
	display: flex;
	lign-items: center;
  	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin:auto;
	width: 200px;
	height: 200px;
}

.equipe-title-text {
	color: #7a9d96;
    font-size: 1.15em;
    line-height: 40px;
    font-weight: 400;
}

.equipe-text {
	font-weight: 300;
    font-size: 0.95em;
    line-height: 23px;
}

.values-text-small {
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-size: 2.7em;
	color: white;
	line-height: 76px;
	letter-spacing: 4px
}

strong {
	font-weight: 900;
}

/* ATELIERS */

.atelier-title-description {
	font-size: 1.1em;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 1px;
}

.flip {
	height: 199px;
    width: 300px;
    margin: 0 auto;
}

.front {
    width: 300px;
    height: auto;
}

.back {
    text-align: center;
    color: #7a9d96;
}

.atelier-title-background {
	border: #7a9d96 2px solid;
	border-radius: 50%;
	display: flex;
	lign-items: center;
  	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 25px;
	padding-left: 25px;
	margin:auto;
	width: 250px;
	height: 250px;
}

.atelier-title-text {
	color: #7a9d96;
    font-size: 1.4em;
    line-height: 46px;
    font-weight: 200;
}

.atelier-text {
    font-weight: 100;
    font-size: 1.1em;
    line-height: 28px;
    letter-spacing: 3px;
}

/* REFERENCES */

.references-border {
	border: #dcae1d 2px solid;
	border-radius: 50%;
	display: flex;
  justify-content: center;
	padding-right: 25px;
	padding-left: 25px;
	margin:auto;
	width: 210px;
	height: 210px;
}

.references-picture {
	display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
  width: 200px;
  height: 200px;
}

.round-picture {
	border-radius: 50%;
}

.references-wrapping {
  padding: 40px;
  border: 2px rgba(202,228,216, 0.6) solid;
}

blockquote {
  border:none;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: rgb(202,228,216);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: rgb(202,228,216);
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

blockquote h2 {
	display: inline;
}

.references-text {
  font-size: 1.2em;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.references-names {
	font-size: 1.1em;
	font-weight: 200;
	padding-bottom: 3px;
}

.references-people {
  font-size: 0.9em;
  font-weight: 200;
}

.references-clients-title {
	font-size: 3.2em;
	padding-bottom: 12px;
}

.logo-image {
	width: 100%;
	max-width: 150px;
	height: 100%;
	max-height: 150px;
}

.row-height {
	height: 160px;
	margin-left: 0;
	margin-right: 0;
}

/* paddings */

.pt1 {
	padding-top: 6px;
}

.pt2 {
	padding-top: 12px;
}

.pt3 {
	padding-top: 24px;
}
.pt4 {
	padding-top: 36px;
}
.pt5 {
	padding-top: 48px;
}
.pt6 {
	padding-top: 60px;
}
.pt7 {
	padding-top: 80px;
}

.pb1 {
	padding-bottom: 6px;
}
.pb2 {
	padding-bottom: 12px;
}
.pb3 {
	padding-bottom: 24px;
}
.pb4 {
	padding-bottom: 36px;
}
.pb5 {
	padding-bottom: 48px;
}
.pb6 {
	padding-bottom: 60px;
}
.pb7 {
	padding-bottom: 72px;
}
.pb8 {
	padding-bottom: 84px;
}
.pb9 {
	padding-bottom: 100px;
}

.pr1 {
	padding-right: 6px;
}
.pr2 {
	padding-right: 12px;
}
.pr2-5 {
	padding-right: 20px;
}
.pr3 {
	padding-right: 24px;
}
.pr4 {
	padding-right: 36px;
}
.pr5 {
	padding-right: 48px;
}
.pr6 {
	padding-right: 60px;
}

.pl1 {
	padding-left: 6px;
}
.pl2 {
	padding-left: 12px;
}
.pl2-5 {
	padding-left: 20px;
}
.pl3 {
	padding-left: 24px;
}
.pl4 {
	padding-left: 36px;
}
.pl5 {
	padding-left: 48px;
}
.pl6 {
	padding-left: 60px;
}

