/* horizontal timeline code from https://codyhouse.co/gem/horizontal-timeline/ */
/* vertical timeline code from: https://codyhouse.co/gem/vertical-timeline/; */

/*** COLORS

  * text - #041e26 (dark blue grey)
  * picture overlay - #202324 - rgba(32, 35, 36, 0.4) (dark blue overlay)
  * green highlight - #7cad39 (green) ==> possibly #93D239
  * light green highlight - #cae4d8 - rgb(202,228,216) (morning sky) 
  * honey highlight - #dcae1d
  * grey - #eff5f5 (used for section backgrounds)

***/

/* ---------- GLOBAL USAGE ------------ */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
}

h1, h2, h3, h4, h5 {
  color: #041e26;
	font-family: 'Source Sans Pro', sans-serif;
}

h1 {
	font-size: 3.998em;
  margin: 0;
  padding-top: 45px;
  text-align: center;
}

hr {
	background-color: #7cad39;
  border: none;
  height: 2px;
	margin-top: 30px;
	margin-bottom: 30px;
  text-align: center;
  width: 170px;
}

.grey-section {
  background-color: #eff5f5;
	margin: 0;
}

em {
  font-style: italic;
}

.small-logo {
  width: 50px;
}

.medium-logo {
  width: 100px;
}


/* ------------- NAV BAR ---------------------*/

.nav-bar {
	border-bottom: 2px solid #cae4d8;
  width: 100%;
}

.nav-links {
	list-style: none;
	padding: 0;
	text-align: center;
}

.nav-links li {
  border-bottom: 3px transparent solid;
  display: inline-block;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1.4px;
  line-height: 1.8em;
  margin-bottom: 15px;
  margin-right: 40px;
  padding-top: 45px;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-links li:last-child {
	margin-right: 0;
}

.name {
  font-family: 'Lora', serif;
  font-size: 1.8em;
  letter-spacing: 4px;
  margin-bottom: 16px;
	margin-left: 26px;
  text-align: left;
}

.name a {
  color: #041e26;
  text-decoration: none;
}

.name a:hover {
  border-bottom: 1px #7cad39 solid;
}

.nav-links li:hover {
  border-bottom: 1px #7cad39 solid;
}

@media screen and (max-width: 768px) {
  /* cell phone */
  .nav-links li {
    padding-top: 20px;
    line-height: 1em;
  }
}

@media screen and (max-width: 992px) {
  .name {
    text-align: center;
  }
}


/* ----------------- FOOTER --------------------*/

.inline {
  display: inline;
}

.signature {
	background-color: #494949;
}

.signature:last-child {
  margin-right: 0;
}

.signature-div {
	display: inline-block;
	margin-right: 40px;
}

.signature-div i {
    font-size: 1.4em;
}

@media screen and (max-width: 600px) {
  .signature-div {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.signature-text {
	color: #cae4d8;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
}

@media screen and (max-width: 990px) {
  .signature-text {
    font-size: 12px;
    line-height: 20px;
  }
}

.signature-item:after {
	content: "|";
	display: inline;
	margin-left: 40px; 
}

@media screen and (max-width: 600px) {
	.signature-item:after {
		display: none;
	}
}

.signature-item a {
  color: #cae4d8;
}

.signature-item a:hover {
  color: #7cad39;
  text-decoration: none;
}

.linkedin {
  color: #cae4d8;
	font-size: 17px;
}

.linkedin:hover {
  color: #7cad39;
}


/* ----------------- GLOBAL BUTTONS AND PICTURES -----------------*/


/* BUTTONS */

.button {
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  padding: 12px 29px;
  text-align: center;
  text-decoration: none;
}

.button-green-border {
  border: 2px solid #7cad39;
  color: #7cad39;
}

.button-green-border:hover {
  background-color: #7cad39;
  color: white;
  text-decoration: none;
}

.button-white-border {
  border: 2px solid white;
  color: white;
}

.button-white-border:hover {
  background-color: white;
  color: #7cad39;
  text-decoration: none;
}

.button-title-properties {
  background-color: rgba(255,247,224,0.2);
}

.button-title-properties:hover {
  background-color: #7cad39;
  border: 2px transparent rgba(225,225,225,0.9);
  color: rgba(225,225,225,0.9);
  text-decoration: none;
}


/* PICTURES */

.photo-container {
  background-size: cover;
  background-position: center center;
  display: block;
  height: 500px;
  min-height: 500px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.photo-container-homepage {
  background-size: cover;
  height: 700px;
  min-height: 700px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.photo-transparent-layer {
  background-color: rgba(32, 35, 36, 0.4);
  display: block;
  position: relative;
  width: 100%;
  z-index: 2;
}

.layer-height-homepage {
  height: auto;
  min-height: 700px;
}

.layer-height {
  height: auto;
  min-height: 500px;
}

.photo-text-background {
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin:auto;
}

.photo-text-background-homepage {
  background-color: rgba(225,225,225,0.9);
  height: auto;
  width: 100%;
}

.photo-text-background-general {
  background-color: rgba(225,225,225,0.5);
  border: white 3px solid;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  display: flex;
}

.photo-text {
  z-index: 3;
  display: block;
  position: relative;
  font-weight: 400;
}

/*.photo-container-contact {
  height: 600px;
  width: 100%;
  position: relative;
  display: block;
}*/

/*.photo-section-contact {
  width: 100%;
  height: 600px;
  min-height: 600px;
  position: relative;
  z-index: 2;
  background-size: cover;
}*/

/*.photo-transparent-layer-contact {
  background-color: rgba(255,247,224,0.2);
  width: 100%;
  height: auto;
  display: block;
  min-height: 600px;
  position: relative;
  z-index: 2;
}*/

.about-photo-format {
  max-width: 100%;
  background-position: center center;
}

/*.photo-container-about {
  height: 500px;
  width: 100%;
  position: relative;
  display: block;
}*/

/*.photo-section-about {
  width: 100%;
  height: 500px;
  min-height: 500px;
  position: relative;
  z-index: 2;
  background-size: cover;
  background-position: center center;
}*/

/*.about-transparent {
  background-color: rgba(255,255,255,0.1);
  border-top: 2px rgba(202,228,216,0.7) solid;
  width: 100%;
  min-height: 500px;
  position: relative;
  z-index: 2;
}*/

/*.photo-text-background-about {
  background-color: rgba(225,225,225,0.5);
  border: white 3px solid;
  border-radius: 50%;
  display: flex;
  lign-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  margin:auto;
  width: 350px;
  height: 350px;
}*/

/*.photo-text-dark-background {
  background-color: rgba(132, 144, 116, 0.35);
}*/


/* ----------------- SHARED TYPOGRAPHY ----------------- */

/* round letters */
.header {
  color: white;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 2.5em;
  letter-spacing: 4px;
  line-height: 76px;
  margin-top: 25px;
}

.flip-header {
  color: #7cad39;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 46px;
}

.h1-coaching {
  font-weight: 200;
  font-size: 2.5em;
  letter-spacing: 2px;
  line-height: 80px;
}

@media screen and (max-width: 992px) {
  .h1-coaching {
    font-size: 2em;
  }
}

.h2-coaching {
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 1.5px;
  line-height: 26px;
}

.h3-coaching {
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.8px;
  line-height: 20px;
}

.text-coaching {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.8px;
  line-height: 30px;
}

.text-coaching a {
  text-decoration: none;
  color: #7cad39;
}

.text-coaching a:hover {
  border-bottom: 1px solid #7cad39;
}

.text-coaching li {
  padding-top: 10px;
  margin-left: 25px;
}

@media screen and (max-width: 1200px) {
  .text-coaching li {
    line-height: 22px;
  }  
}

.small {
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.extra-small {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  line-height: 20px;
}


/* ----------------- HOME PAGE -----------------*/

.title {
  color: #041e26;
  font-size: 3.3em;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 76px;
}

.subtitle {
  color: #7cad39;
  font-size: 25px;
	text-align: center;
}

.subsubtitle {
	text-align: center;
	font-size: 1.414em;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
	color: #293d3d;
	padding-right: 35px;
	padding-left: 35px;
	line-height: 30px;
  letter-spacing: 0.8px;
}

.why-coaching-title {
  font-size: 2em;
}

.why-coaching-subtitle {
	font-size: 1.1em;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 30px;
}

@media screen and (max-width: 700px) {
  .h1-coaching {
    line-height: 50px;
    margin-bottom: 25px;
  }
}

.contact-me-subtitle {
  color: #7cad39;
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 60px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contact-me-subtitle {
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.mobile-margin {
  margin-bottom: 0px;
}

@media screen and (max-width: 990px) {
  .mobile-margin {
    margin-bottom: 60px;
  }
}


/* ---------------- CONTACT PAGE -------------- */


/*.contact-title {
    padding-top: 45px;
    text-align: center;
    font-size: 3em;
    letter-spacing: 7.5px;
    font-weight: 200;
}*/

/*.links-contact {
	color: #041e26;
}*/

/*.address-header {
	font-size: 1.8em;
	font-weight: 100;
	letter-spacing: 2px;
	color: #041e26;
}*/

.address-marker {
  margin-bottom: 10px;
	color: rgb(147,210,57);
}

.contact-pin {
  font-size: 42px;
}

@media screen and (max-width: 992px) {
  .mobile-margin-location {
    margin-top: 50px;
  }
}


/* --------------- ABOUT ME PAGE -----------------*/

/*.about-text-format {
	padding-right: 65px;
  padding-left: 40px;
}

.about-text {
  display: block;
  position: relative;
  padding-left: 30px;
}*/

/*.heavy {
	font-size: 2em;
	letter-spacing: 1.5px;
}

.light {
	letter-spacing: 1.5px;
	font-size: 100%;
	line-height: 21px;
	font-weight: 300;
}*/

/*
@media screen and (max-width: 600px) {
  .light {
    font-size: 18px;
    line-height: 25px;
  }
}*/
/*
.about-text-signature {
	padding-right: 130px;
  float: right;
  padding-top: 40px;
  font-weight: 100;
  font-size: 1.25em;
}*/

/*.values-text {
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-size: 3.5em;
	color: white;
	line-height: 76px;
	letter-spacing: 4px
}*/

/*.values-title {
	text-align: center;
	font-size: 1.9em;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 25px;
}*/

.box-values {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
  border: 2px rgba(202,228,216, 0.6) solid; 
}

/*.values-description {
	height: 165px;
	font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  line-height: 25px;
  border: 2px rgba(202,228,216, 0.6) solid;
}*/

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .values-description {
    height: 210px;
  }
}

@media screen and (max-width: 990px) {
  .values-description {
    height: 100px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 646px) {
  .values-description {
    height: 125px;
    margin-bottom: 50px;
  }
}
/* timeline */
/* TIMELINE WITHIN REFERENCES */
/* media only checks for desktop applications */

/*. {
  color: #1c6075;
}*/

.cd-container {
  /* class is used to give a max-width to element and center it horizontally when max width is reached */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both; 
}

/* actual timeline */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 3px 0 rgba(0, 0, 0, 0.15), 0 3px 0 4px rgba(0, 0, 0, 0.15);
  background: #7cad39;
}

.cd-timeline-img i {
  display: block;
  margin-top: 10px;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 70px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow:  1px 3px 1px #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #041e26;
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 100;
  line-height: 25px;
}
.cd-timeline-content .cd-date {
  display: inline-block;
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.no-touch .cd-timeline-content {
  background-color: white;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}



/* -------------------- COACHING ---------- */


.large-text-coaching {
	font-size: 1.8em;
  font-weight: 200;
  display: inline-block;
  padding-right: 5px;
}

.icon-coaching {
	display: block;
	text-align: center;
	color: rgba(124, 173, 57, 0.5);
}

@media screen and (max-width: 1200px) {
  .button-quote-properties {
    margin-bottom: 60px;
  }  
}

/*.offres-title {
	font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 1.5px;
}*/

/*.offres-hr {
	margin-bottom: 20px;
  margin-top: 0px;
  width: 40%;
  text-align: left;
  margin-left: 0;
  height: 1px;
  background-color: #dcae1d;
}*/

/*.text-offres {
    font-weight: 100;
    font-size: 1em;
    line-height: 28px;
    letter-spacing: 0.5px;
}*/

/*.offres-description {
	font-size: 1em;
	font-weight: 300;
	letter-spacing: 0.5px;
  padding-right: 40px;
  line-height: 29px;
  padding-top: 20px;
}*/


.box-coaching {
	background-color: rgba(124, 173, 57, 0.9);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 1200px) {
  .ind-offer-box-mobile {
    margin-top: 25px;
  }
}


/*.equipe-title-background {
	border: #cae4d8 3px solid;
	border-radius: 50%;
	display: flex;
	align-items: center;
  justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 20px;
	padding-left: 20px;
	margin:auto;
	width: 200px;
	height: 200px;
}*/

/*.equipe-title-text {
	color: #7cad39;
  font-size: 1.15em;
  line-height: 40px;
  font-weight: 400;
}*/

/*.equipe-text {
	font-weight: 300;
  font-size: 1em;
  line-height: 25px;
  margin-right: 10px;
  margin-left: 10px;
}*/

/*.values-text-small {
	font-family: 'Source Sans Pro';
	font-weight: 200;
	font-size: 2.7em;
	color: white;
	line-height: 76px;
	letter-spacing: 4px
}*/

strong {
	font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1200px) {
  .round-mobile-margin {
    margin-bottom: 70px;
  }
}


/* ---------------------- ATELIERS ---------------- */

.ateliers-transparent {
	background-color: rgba(255,255,255,0.1);
	width: 100%;
	min-height: 500px;
	position: relative;
	z-index: 2;
}

.ateliers-title {
  font-size: 2.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #041e26;
}

.atelier-title-description {
	font-size: 1.1em;
  font-weight: 100;
  line-height: 24px;
  letter-spacing: 1px;
}

.flip {
	height: 199px;
  width: 300px;
  margin: 0 auto;
}

.front {
  width: 300px;
  height: auto;
}

.back {
  text-align: center;
  color: white;
}

.atelier-title-background-front {
	border: #7cad39 2px solid;
	border-radius: 50%;
	display: flex;
	align-items: center;
  justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 25px;
	padding-left: 25px;
	margin:auto;
	width: 250px;
	height: 250px;
}

.atelier-title-background-back {
  border: #7cad39 2px solid;
  background-color: #7cad39;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 25px;
  padding-left: 25px;
  margin:auto;
  width: 250px;
  height: 250px;
}

/*.atelier-title-text {
	color: #7cad39;
  font-size: 1.3em;
  line-height: 46px;
  font-weight: 200;
}*/

/*.atelier-text {
  font-weight: 100;
  font-size: 1em;
  line-height: 25px;
  letter-spacing: 2px;
}*/

.atelier-button-properties {
  background-color: #eff5f5;;
  margin-top: 30px;
}


/* ------------------- REFERENCES ---------------- */

.references-border {
	border: #dcae1d 2px solid;
	border-radius: 50%;
}

.references-picture {
	display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
  width: 130px;
  height: 130px;
  margin-top: 10px;
}

.round-picture {
  max-width: 120px;
	border-radius: 50%;
}

.anonymous-picture {
  color: rgba(220,174,29, 0.6);
}

.references-wrapping {
  padding: 40px;
  border: 2px rgba(202,228,216, 0.6) solid;
}

.title-line-height {
  line-height: 40px;
}

.long {
  height: 740px;
}

.short {
  height: 610px;
}

blockquote {
  border: none;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: rgb(202,228,216);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: rgb(202,228,216);
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

blockquote h2 {
	display: inline;
}

/*.references-title {
  font-size: 25px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
}*/

.references-people {
  position: absolute;
  top: 565px;
  text-align: center;
  width: 275px;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .references-people {
    width: 220px;
    top: 635px;
  }
  .long {
    height: 900px;
  }
}

.references-people-small {
  position: absolute;
  top: 440px;
  text-align: center;
  width: 275px;
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .references-people-small {
    width: 220px;
    top: 500px;
  }
  .short {
    height: 750px;
  }
}

.references-names {
	font-size: 1.1em;
	font-weight: 200;
	padding-bottom: 3px;
}

.references-function {
  font-size: 0.9em;
  font-weight: 200;
  line-height: 20px;
}

.references-clients-title {
	font-size: 3.2em;
	padding-bottom: 12px;
}

/*.logo-wrapper {
  height: 100px;
}*/


/*  .col-xs-6 {
    height: 100px;
  }*/

.logo-wrapper {
  width: 100%;
/*  display: flex;
*/  min-height: 120px;
}

.logo-image {
  height: 85%;
  width: 80%;
}

.medium-logo {
  width: 70%;
}

.big-logo {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .logo-image {
    margin-top: 10px;
  }
}

/*.logo-image {
	width: 100%;
	max-width: 150px;
	height: 100%;
	max-height: 150px;
  text-align: center;
}*/

.col-height {
  height: 150px;
}

.row-height {
	height: 160px;
	margin-left: 0;
	margin-right: 0;
}

.references-private-clients {
  font-size: 1.8em;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #041e26;
}

/* -------------- SHARED --------------------- */

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;

}
@media screen and (max-width: 768px) {
  .aligner {
    display: block;
  }
}

.aligner-item {
	flex: 1;
}

.center {
	text-align: center;
}

.fa {
  display:block;
}

.right-align {
  text-align: right;
}


/* -------------- MARGINS ------------------- */

.mt1 {
  margin-top: 6px;
}
.mt2 {
  margin-top: 8px;
}
.mt3 {
  margin-top: 12px;
}
.mt4 {
  margin-top: 24px;
}
.mt5 {
  margin-top: 36px;
}
.mt6 {
  margin-top: 48px;
}
.mt7 {
  margin-top: 80px;
}
.mt11 {
  margin-top: 11px;
}

.mb3 {
  margin-bottom: 12px;
}
.mb4 {
  margin-bottom: 24px;
}
.mb5 {
  margin-bottom: 36px;
}
.mb6 {
  margin-bottom: 48px;
}

.mr20 {
  margin-right: 20px;
}

.ml20 {
  margin-left: 20px;
}

/* -------------- PADDINGS ----------------- */

/* TOP */
.pt1 {
	padding-top: 6px;
}
.pt1a {
	padding-top: 8px;
}
.pt2 {
	padding-top: 12px;
}
.pt3 {
	padding-top: 24px;
}
.pt4 {
	padding-top: 36px;
}
.pt5 {
	padding-top: 48px;
}
.pt6 {
	padding-top: 60px;
}
.pt7 {
	padding-top: 72px;
}
.pt8 {
  padding-top: 84px;
}
.pt9 {
  padding-top: 100px;
}

/* BOTTOM */

.pb1 {
	padding-bottom: 6px;
}
.pb1a {
  padding-bottom: 8px;
}
.pb2 {
	padding-bottom: 12px;
}
.pb3 {
	padding-bottom: 24px;
}
.pb4 {
	padding-bottom: 36px;
}
.pb5 {
	padding-bottom: 48px;
}
.pb6 {
	padding-bottom: 60px;
}
.pb7 {
	padding-bottom: 72px;
}
.pb8 {
	padding-bottom: 84px;
}
.pb9 {
	padding-bottom: 100px;
}

/* RIGHT */

.pr1 {
	padding-right: 6px;
}
.pr2 {
	padding-right: 12px;
}
.pr20 {
	padding-right: 20px;
}
.pr3 {
	padding-right: 24px;
}
.pr4 {
	padding-right: 36px;
}
.pr5 {
	padding-right: 48px;
}
.pr6 {
	padding-right: 60px;
}

.pl1 {
	padding-left: 6px;
}
.pl2 {
	padding-left: 12px;
}
.pl20 {
	padding-left: 20px;
}
.pl3 {
	padding-left: 24px;
}
.pl4 {
	padding-left: 36px;
}
.pl5 {
	padding-left: 48px;
}
.pl6 {
	padding-left: 60px;
}

