body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  color: #041e26;
  font-family: 'Source Sans Pro', sans-serif;

}

h1 {
  font-size: 3.998em;
  margin: 0;
  padding-top: 45px;
  text-align: center;
}

em {
  font-style: italic;
}


a {
  color: #7cad39 !important;
}

a:hover {
  color: #96bf0d !important;
}

b, strong {
  font-weight: 500 !important;
}

.dark-text {
  color: #041e26 !important;
}

.logo-color {
  color: #96bf0d;
}

.header {
  color: white;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 2.5em;
  letter-spacing: 3px;
  margin-top: 25px;
}

.flip-header {
  color: #7cad39;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 46px;
}

.h1-coaching {
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 2px;
  line-height: 80px;
}

@media screen and (max-width: 992px) {
  .h1-coaching {
    font-size: 2em;
  }
}

.h2-coaching {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 1.5px;
  line-height: 26px;
}

.h3-coaching {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 20px;
}

.text-coaching {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.7px;
  line-height: 30px;
}

.text-coaching a {
  text-decoration: none;
  color: #7cad39;
}

.text-coaching a:hover {
  border-bottom: 1px solid #7cad39;
  text-decoration: none !important;
}

.text-coaching li {
  padding-top: 10px;
  margin-left: 25px;
}

@media screen and (max-width: 1200px) {
  .text-coaching li {
    line-height: 22px;
  }  
}

.small {
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.extra-small {
  font-size: 0.9em;
  letter-spacing: 0.5px;
  line-height: 20px;
}

.large-text-coaching {
  font-size: 1.8em;
  font-weight: 400;
  display: inline-block;
  padding-right: 5px;
}

.title {
  color: #041e26;
  font-size: 3.3em;
  font-weight: 200;
  letter-spacing: 4px;
  line-height: 76px;
}

.subtitle {
  color: #7cad39;
  font-size: 25px;
  text-align: center;
}

.subsubtitle {
  text-align: center;
  font-size: 1.414em;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  color: #293d3d;
  padding-right: 35px;
  padding-left: 35px;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.why-coaching-title {
  font-size: 2em;
}

.why-coaching-subtitle {
  font-size: 1.1em;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 1.2px;
  line-height: 30px;
}

@media screen and (max-width: 700px) {
  .h1-coaching {
    line-height: 50px;
    margin-bottom: 25px;
  }
}

.contact-me-subtitle {
  color: #7cad39;
  font-size: 17px;
  letter-spacing: 0.8px;
  line-height: 60px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .contact-me-subtitle {
    line-height: 30px;
    margin-bottom: 10px;
  }
}
